BETTER_AUTH_SECRET="enter-your-authjs-secret"


DATABASE_URL="enter-your-database-url" // This project is using postgresql, if want to change database please view details at `prisma/schema.prisma`


AUTH_GITHUB_ID="enter-your-github-id" // This ID is get from the Github Developer settings, not the username
AUTH_GITHUB_SECRET="enter-your-github-secret" 


ENCRYPTION_KEY="enter-your-encryption-key" // Generate a random key 
